<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Файлообменник</title>
</head>
{% if user.is_authenticated %}
Вы зашли как {{ user.username }} </br>
<table>
    <tr>
        <td>
        <A href="/accounts/logout/?next=/">Выйти</A>
            </td>
        <td>
            <A href="/accounts/password_change/?next=/">Сменить
            пароль</A>
        </td>
    </tr>
</table>
<!--
<hr>
<h2>Доступные Вам для скачивания скрытые файлы</h2>
{% if available_docs %}
<TABLE border="1" cellspacing="0">
    <tr>
        <th>Имя файла</th>
        <th>Автор</th>
    </tr>
{% for doc in available_docs %}
<tr>
    <td><a href="{{ doc.privref }}">{{ doc.name.name }}</a></td>
    <td>{{ doc.author.username }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
-->
<hr>
<h2>Ваши файлы</h2>
{% if available_docs %}

<table border="1" cellspacing="0">
    <tr>
        <th>Имя файла</th>
        <th>Автор</th>
        <th>Комментарий</th>
        <th>Удалить?</th>
        <th>Только для</th>
    </tr>
{% for doc in available_docs %}
    <tr>
    <td>
        <A href="{{ doc.href }}">{{ doc.name.name }}</a>
        </td>
        <td>{{doc.author}}</td>
        <td>{{ doc.comm }}</td>
        <td>
        {% if doc.author == user %}
            <a href="/delete/{{ doc.id }}">Удалить</a></br>
        {% endif %}
        </td>
        <td>
            {% if not doc.is_public %}
                {% autoescape off %}
                    {{ doc.get_readers }}
                {% endautoescape %}
            {% endif %}
        </td>
        </tr>
{% endfor %}
    </table>
{% endif %}
<hr>
<h2>Загрузить файл</h2>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    {% if form.is_multipart %}
      <form enctype="multipart/form-data" method="post" action="{{action}}">{% csrf_token %}
    {% else %}
      <form method="post" action="{{action}}">{% csrf_token %}
    {% endif %}
    <table>
    {% for field in form%}
    <tr>
        {% if field.errors %}
            <tr><td>{{field.errors}}</td></tr>{% endif %}
    <td>{{ field.label_tag }}</td><td>{{ field }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Загрузить" />
    <input type="reset" value="Очистить" />
</form>
{% else %}
          {% if ureg == True %}
    <a href="/reg/register/">Зарегистрироваться</a>
          {% endif %}
    <A href="/accounts/login/?next=/">Войти</A>
{% endif %}

</body>
</html>